<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.livingstone.alfred-workflow.open-in-cursor</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4299DEBA-00AB-4738-8D5D-0B06BCAC9B64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>666E227D-70E9-4B75-95B6-4462D823F86C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FDC360C-F01A-413A-9AB6-2A2201C834EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADA45187-B87B-442D-810A-722562286252</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADA45187-B87B-442D-810A-722562286252</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Neil Livingstone (fork of vivaxy)</string>
	<key>description</key>
	<string>Alfred workflow to open in Cursor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Cursor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./open-finder-folder.sh</string>
				<key>scriptargtype</key>
				<integer>2</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>666E227D-70E9-4B75-95B6-4462D823F86C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cursor</string>
				<key>subtext</key>
				<string>Open Current File in Cursor</string>
				<key>text</key>
				<string>Open Cursor</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4299DEBA-00AB-4738-8D5D-0B06BCAC9B64</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cursor</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select project</string>
				<key>title</key>
				<string>Open Project in Cursor</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4FDC360C-F01A-413A-9AB6-2A2201C834EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./open-project.sh "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ADA45187-B87B-442D-810A-722562286252</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4299DEBA-00AB-4738-8D5D-0B06BCAC9B64</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>4FDC360C-F01A-413A-9AB6-2A2201C834EA</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>666E227D-70E9-4B75-95B6-4462D823F86C</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>ADA45187-B87B-442D-810A-722562286252</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>/Users/you/Developer/*</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Glob pattern to match project directories</string>
			<key>label</key>
			<string>Project directories</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>projects</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>/Applications/Cursor.app/Contents/Resources/app/bin/cursor</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Optional. Leave blank to auto-detect Cursor from common install locations.</string>
			<key>label</key>
			<string>Cursor CLI path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>cursor_cli</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.1.11</string>
	<key>webaddress</key>
	<string>https://github.com/nlivingstone/alfred-open-in-cursor</string>
</dict>
</plist>
